<h1>All Vendors</h1>
<%= button_to "Add new vendor", new_vendor_path, method: :get %>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor) %></li>
  <% end  %>
</ul>
